.header {
  flex-grow: 1;

  .app-bar {
    position: static;
    background-color: #FFFFFF;
    box-shadow: none;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 50px;
  }

  .toolbar {
    justify-content: space-between;

    .new-article {
      color: #5cb85c;
      border: 1px solid #5cb85c;
      border-radius: 5px;
      padding: 5px 12px;
      text-transform: none;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: rgba(92, 184, 92, 0.1);
        border-color: #4cae4c;
      }
    }
    .profile {
      align-items: center;
      gap: 10px;
      color: black;
      text-transform: none;
      font-weight: 500;
      cursor: pointer;
      background: none;
      border: none;
    }
  }



  .title {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

  .sign-in-button {
    color: black;
    margin-right: 16px;
  }

  .sign-up-button {
    color: #5cb85c;
    border-color: #5cb85c;

    &:hover {
      border-color: #4cae4c;
      background-color: rgba(92, 184, 92, 0.1);
    }
  }
}

